.toast {
    width: 300px;
    padding: 15px;
    background-color: #1b1b1b;
    border-radius: 10px;
    color: #f9f9f9;
    font-size: 14px;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &--success {
        border: 1px solid lightgreen;
    }

    &--warning {
        border: 1px solid yellow;
    }
    
    &--error {
        border: 1px solid red;
    }
    
    &--info {
        border: 1px solid lightblue;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        
    }

    &__button {
        font-size: 20px;
        color: inherit;
        cursor: pointer;
    }
}