@import '../node_modules/normalize.css/normalize.css';

:root {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #222;
}

button {
    appearance: none;
    background: none;
    border: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@import './toast';

@import './toast-container';

@import './toast-form';